.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.1);
}

.loader {
  width: 50px;
  height: 50px;
  border: 5px solid #f3f3f3;
  border-top: 5px solid #3498db;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.square {
  width: 20px;
  aspect-ratio: 1/1;
  border: 3px solid var(--contrast-color);
  border-radius: 0.3rem;
  margin-bottom: 0.2rem;
  transform-origin: 100% 100%;
  animation: roll var(--animation-settings);
}

@keyframes roll {
  25% {
    transform: translate(calc(-20px));
  }
  50% {
    transform: rotate(90deg) translateY(20px);
  }
  75% {
    transform: rotate(180deg) translateY(20px);
  }
  100% {
    transform: rotate(180deg) translate(20px, 20px);
  }
}

.infinite-scroll {
  position: relative;
  width: 60px;
  height: 2px;
  overflow: hidden;
}

.infinite-scroll::before,
.infinite-scroll::after {
  content: "";
  position: absolute;
  width: 20px;
  height: 100%;
  background: var(--contrast-color);
}

.infinite-scroll::before {
  left: calc(50% - 10px);
  animation: moveBefore var(--animation-settings);
}

.infinite-scroll::after {
  left: 100%;
  animation: moveAfter var(--animation-settings);
}

@keyframes moveBefore {
  25% {
    left: 0;
  }
  50% {
    left: 0;
  }
  75% {
    left: 0;
  }
  100% {
    left: -30px;
  }
}

@keyframes moveAfter {
  25% {
    left: 100%;
  }
  50% {
    left: calc(100% - 20px);
  }
  75% {
    left: calc(100% - 20px);
  }
  100% {
    left: calc(50% - 10px);
  }
}
